* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: segoe ui;
}

html {
    scroll-behavior: smooth
}

body {
    background: linear-gradient(90deg, rgb(22, 22, 22), rgb(4, 7, 46));
    color: rgb(255, 253, 227);
    padding-left: 1rem;
}

.navegacao {
    position: fixed;
    top: 0;
    background-color: rgb(24, 24, 24);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    
}
.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}
.menu-link {
    text-decoration: none;
    color: beige;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}
.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(81, 84, 255), rgb(0, 13, 155));
    transition: width 0.3s ease;

}

.menu-link:hover::after {
    width: 100%;
}
.inicio{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.foto-perfil{
    width: 250px;
    height: 250px;
    box-shadow: 38px 30px 29px 7px rgba(0,0,0,0.75);
    border-radius: 50%;
    border: 2px solid rgba(41, 41, 40, 0.137);
}
h1{
    font-size: 2.5rem;
    margin-top: 1.2rem;
}
.sobre{
    padding: 6rem 2rem;
}
.sobre-titulo{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.sobre-conteudo{
    padding: 2rem 0;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}
.sobre-paragrafo{
text-align: center;
}