* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: segoe ui;
}

html {
    scroll-behavior: smooth
}

body {
    background: linear-gradient(90deg, rgb(22, 22, 22), rgb(4, 7, 46));
    color: rgb(255, 253, 227);
    padding-left: 1rem;
}

.navegacao {
    position: fixed;
    top: 0;
    background-color: rgb(24, 24, 24);
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    padding: 1.5rem;

}

.menu {
   
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;

}

.menu-link {
    text-decoration: none;
    color: beige;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(81, 84, 255), rgb(0, 13, 155));
    transition: width 0.3s ease;

}

.menu-link:hover::after {
    width: 100%;
}

.inicio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

}

.foto-perfil {
    width: 250px;
    height: 250px;
    box-shadow: 38px 30px 29px 7px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    border: 2px solid rgba(41, 41, 40, 0.137);
 animation:  flutuar 5s ease-in-out infinite;

}

h1 {
    font-size: 2.5rem;
    margin-top: 1.2rem;
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.sobre-conteudo {
    padding: 2rem 1rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}

.sobre-paragrafo {
    text-align: center;
    text-justify: auto;
}

.projetos {
    padding: 6rem 2rem;


}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-titulo {
    text-align: center;
    margin-bottom: 20px;
}

.projetos-conteudo {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.projetos-conteudo:hover {
    box-shadow: 0 10px 20px rgba(80, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.08);
}

.img-projeto {
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.projetos-nome {
    text-align: center;
    margin: 5px auto;
}

.projetos-descricao {
    text-align: center;
    margin-bottom: 10px;
    margin: 0 15px;
    margin-bottom: 10px;
}

.habilidades {
    padding: 6rem 2rem;
    min-height: 100vh
}

.habilidades-titulo {
    text-align: center;
    margin-bottom: 5px;
}

.habilidades-p {
    text-align: center;
    margin-bottom: 80px;

}

.habilidades-conteudo {
    max-width: 700px;
    margin: 0 auto;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;

}

.base-icone {

    width: 100px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.icone {
    height: 90px;
}

.contato {
    padding: 6rem 2rem;
}

.contato-titulo {
    text-align: center;
    margin-bottom: 10px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    
}

.botao-contorno {
    margin-bottom: 0.1rem;
    text-align: center;
}

.botao-conteudo {
    width: 100%;
    padding: 0.5rem;
    background: rgba(83, 84, 113, 0.2);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
}

.botao-conteudo:focus {
    border-color: rgba(159, 167, 255, 0.641);
}

.formulario-contato:hover {
    box-shadow: 0 10px 20px rgba(17, 0, 255, 0.319);
    transform: translateY(-5px) scale(1.04);
}

.botao-enviar {
    width: 100%;
    padding: 0.5rem;
    background: rgba(47, 54, 247, 0.437);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.475);
    outline: none;
}

.botao-enviar:hover {
    box-shadow: 2px 2px 8px rgb(39, 118, 255);
    background: rgba(2, 10, 255, 0.529);
}
@keyframes flutuar{
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20%);
    }
}